.details-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.9rem;
  padding: 0.8rem;
  border-radius: 12px;
  background: rgb(5, 74, 191);
  background: linear-gradient(
    90deg,
    rgba(5, 74, 191, 0.3) 0%,
    rgba(219, 228, 247, 0.3) 50%,
    rgba(5, 74, 191, 0.3) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.details-list__item {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
